.search-bar {
  background-color: #ff0000;
  padding: 1rem 0.7rem;
}
.search-form {
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
label[for] {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}
.search-input {
  padding: 1rem;
  font-size: 1.1rem;
}
