.video-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1em;
  padding: 0.5em;
}
@media screen and (max-width: 1300px) {
  .video-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.video-container > * {
  color: #fff;
  height: 82vh;
  box-sizing: border-box;
}
.video-detail.show,
.video-list.show {
  display: block;
}
.video-detail.hide,
.video-list.hide {
  display: none;
}
.video-detail {
  padding: 1.5em;
}
.video-list {
  border: 0.03px solid #303030;
  border-radius: 3px;
  position: relative;
  overflow-y: hidden;
}
.video-list--title {
  position: sticky;
  background-color: #202020;
  top: 0;
  left: 0;
  padding: 0.3em 1em 1em;
}
.video-list--title > h3 {
  margin-bottom: 0.2em;
}
.video-list--title > small {
  color: #aaa;
}
.video-list--videos {
  height: 90%;
  overflow-y: auto;
  background-color: #121212;
}
.video-detail > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

iframe {
  width: 100%;
  height: 80%;
  border: 0;
}

.video-card {
  display: flex;
  flex-direction: row;
}
.video-card {
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.02em 0;
  transition: all 0.15s linear;
}
.video-card:hover,
.video-card.active {
  background-color: #303030;
}
.video-card.active {
  pointer-events: none;
}

.video-card > .video-index {
  align-self: center;
  font-size: 0.8em;
  margin: 0 0.5em 0 0.3em;
  color: #aaa;
}
.video-card > .video-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  align-self: center;
}
.video-card > .video-title {
  margin-left: 0.5rem;
}
.video-segment > .title {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 0.4em;
}
.video-segment > .description {
  color: #aaa;
}
